.promo {
    background-color: #073042;
    color: #FFFFFF;
    padding: 0 70px;
    min-height: 648px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.promo__title-and-image {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.promo__title {
    font-family: 'Inter';
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 640px;
    margin-top: 0;
    margin-bottom: 0;
}

.promo__subtitle {
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 310px;
    opacity: 50%;
    margin-top: 36px;
    margin-bottom: 0;
}

.promo__button {
    padding: 0;
    background-color: transparent;
    width: 129px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    margin-top: 84px;
}