.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navigation__btn-lines {
    display: none;
}

@media screen and (max-width: 840px) {
    .navigation__btn-lines {
        display: flex;
        align-items: center;
        position: absolute;
        top: 26px;
        right: 30px;
        width: 28px;
        height: 28px;
        cursor: pointer;
        z-index: 1;
    }

    .navigation__btn-line,
    .navigation__btn-line::before,
    .navigation__btn-line::after {
        display: block;
        position: absolute;
        width: 28px;
        height: 3px;
        background-color: #FFFFFF;
    }

    .navigation__btn-line::before {
        content: '';
        top: -7px;
    }

    .navigation__btn-line::after {
        content: '';
        top: 7px;
    }
}

@media screen and (max-width: 580px) {
    .navigation__btn-lines {
        top: 27.5px;
        right: 23px;
        width: 22px;
        height: 22px;
    }

    .navigation__btn-line,
    .navigation__btn-line::before,
    .navigation__btn-line::after {
        width: 22px;
        height: 2.5px;
    }

    .navigation__btn-line::before {
        content: '';
        top: -6.5px;
    }

    .navigation__btn-line::after {
        content: '';
        top: 6.5px;
    }
}

.navigation__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
}

@media screen and (max-width: 840px) {
    .navigation__links {
        display: flex;
        flex-direction: column;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 520px;
        height: 100vh;
        margin: 0;
        padding: 159px 0;
        list-style: none;
        background-color: #202020;
    }
}

@media screen and (max-width: 580px) {
    .navigation__links {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 144px 0;
    }
}

.navigation__links_type_films {
    display: flex;
    align-items: center;
    column-gap: 16px;
    list-style: none;
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 840px) {
    .navigation__links_type_films {
        flex-direction: column;
        row-gap: 28px;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }
}

@media screen and (max-width: 580px) {
    .navigation__links_type_films {
        row-gap: 24px;
    }
}

.navigation__links_type_account {
    display: flex;
    align-items: center;
    column-gap: 7px;
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0px;
}

@media screen and (max-width: 840px) {
    .navigation__links_type_account {
        bottom: 90px;
        position: fixed;
    }
}

@media screen and (max-width: 580px) {
    .navigation__links_type_account {
        bottom: 46px;
    }
}

.navigation__btn {
    opacity: 0;
}

.navigation__btn:checked~.navigation__btn-lines>.navigation__btn-line {
    position: fixed;
    transform: rotate(45deg);
}

.navigation__btn:checked~.navigation__btn-lines>.navigation__btn-line::before {
    position: fixed;
    top: 0;
    transform: rotate(0);
}

.navigation__btn:checked~.navigation__btn-lines>.navigation__btn-line::after {
    position: fixed;
    top: 0;
    transform: rotate(90deg);
}

.navigation__btn:checked~.navigation__links {
    visibility: visible;
    right: 0;
}

.navigation__link {
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
}

.navigation__link:hover {
    opacity: 0.7;
}

.navigation__link_type_main {
    display: none;
}

@media screen and (max-width: 840px) {
    .navigation__link_type_main {
        display: block;
    }
}

.navigation__link_type_account {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    background-color: #0F4157;
    position: relative;
}

@media screen and (max-width: 840px) {
    .navigation__link_type_account {
        background-color: #313131;
    }
}

.navigation__account-img {
    width: 10.38px;
    height: 10.67px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}