.not-search-results-page__title-and-button {
    width: 100%;
    min-height: 50vh;
}

.not-search-results-page__title {
    margin-top: 250px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 840px) {
    .not-search-results-page__title {
        margin-top: 284px;
        font-size: 16px;
        line-height: 20px;
    }
}

.not-search-results-page__back {
    display: block;
    margin: 350px auto 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    background-color: transparent;
    color: #4285F4;
    text-decoration: none;
    cursor: pointer;
    border: none;
    padding: 0;
}

.not-search-results-page__back:hover {
    opacity: 0.7;
}

@media screen and (max-width: 580px) {
    .not-search-results-page__back {
        font-size: 12px;
        line-height: 15px;
    }
}