.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 18px;
}

.nav__links {
    list-style: none;
    display: flex;
    column-gap: 30px;
    align-items: center;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 580px) {
    .nav__links {
        column-gap: 14px;
        font-size: 10px;
    }
}

.nav__button {
    background: #3DDC84;
    width: 76px;
    height: 32px;
    border-radius: 3px;
    color: #000000;
    border: none;
    cursor: pointer;
    padding: 0;
}

@media screen and (max-width: 580px) {
    .nav__button {
        width: 54px;
        height: 26px;
    }
}

.nav__link {
    cursor: pointer;
}

.nav__link:hover {
    opacity: 0.7;
}